In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier

In [3]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

In [4]:
data = pd.read_csv("1994_census_income.csv")

In [5]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
gender            0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
high_income       0
dtype: int64

In [6]:
df_categorical = data.select_dtypes(include=['object'])
df_categorical.apply(lambda x: x=="?", axis=0).sum()

workclass         1836
education            0
education_num        4
marital_status       0
occupation        1843
relationship         0
race                 2
gender               2
native_country     583
high_income          0
dtype: int64

In [7]:
data[data['occupation'] == '?' ].count()

age               1843
workclass         1843
fnlwgt            1843
education         1843
education_num     1843
marital_status    1843
occupation        1843
relationship      1843
race              1843
gender            1843
capital_gain      1843
capital_loss      1843
hours_per_week    1843
native_country    1843
high_income       1843
dtype: int64

In [8]:
data.count()

age               32561
workclass         32561
fnlwgt            32561
education         32561
education_num     32561
marital_status    32561
occupation        32561
relationship      32561
race              32561
gender            32561
capital_gain      32561
capital_loss      32561
hours_per_week    32561
native_country    32561
high_income       32561
dtype: int64

In [10]:
data = data[data["workclass"] != "?" ]
data = data[data["occupation"] != "?" ] 
data = data[data["native_country"] != "?" ]

In [12]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'gender',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'high_income'],
      dtype='object')

In [14]:
data["high_income"] = data["high_income"].map({'<=50K' : 0, '>50K': 1})
data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,high_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,?,0,0,40,United-States,0
4,28,Private,338409,Bachelors,?,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [15]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

catogorical_data = data.select_dtypes(include =['object'])

In [16]:
catogorical_data = catogorical_data.apply(le.fit_transform)

In [17]:
data = data.drop(catogorical_data.columns, axis=1)
data = pd.concat([data, catogorical_data], axis=1)
data.head()

,age,fnlwgt,capital_gain,capital_loss,hours_per_week,high_income,workclass,education,education_num,marital_status,occupation,relationship,race,gender,native_country
0,39,77516,2174,0,40,0,5,9,4,4,0,1,5,2,38
1,50,83311,0,0,13,0,4,9,4,2,3,0,5,2,38
2,38,215646,0,0,40,0,2,11,15,0,5,1,5,2,38
3,53,234721,0,0,40,0,2,1,13,2,5,0,3,0,38
4,28,338409,0,0,40,0,2,9,16,2,9,5,3,1,4

In [18]:
data['high_income'] = data['high_income'].astype('category')

In [19]:
x=data.drop('high_income',axis=1)
y=data['high_income']
#Train & Test split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.30,random_state= 476)

In [20]:
tree = DecisionTreeClassifier()
model_tree = tree.fit(x_train,y_train)
model_tree

DecisionTreeClassifier()

In [21]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [22]:
model_tree = tree.fit(x_train,y_train)
pred_tree = tree.predict(x_test)
a1 = accuracy_score(y_test,pred_tree)
print("The Accuracy of Desicion Tree is ", a1)

The Accuracy of Desicion Tree is  0.8021880870814455

In [23]:
confusion_matrix(y_test,pred_tree)

array([[5889,  902],
       [ 888, 1370]], dtype=int64)

In [24]:
print(classification_report(y_test, pred_tree))

              precision    recall  f1-score   support

           0       0.87      0.87      0.87      6791
           1       0.60      0.61      0.60      2258

    accuracy                           0.80      9049
   macro avg       0.74      0.74      0.74      9049
weighted avg       0.80      0.80      0.80      9049

In [25]:
rf = RandomForestClassifier()
model_rf = rf.fit(x_train,y_train)
pred_rf = rf.predict(x_test)
a2 = accuracy_score(y_test, pred_rf)
print("The Accuracy of Random Forest is ", a2)

The Accuracy of Random Forest is  0.8481600176815117